@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.button{
    padding: 20px;
    width: 66px;
    margin:  0 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
    color:#000;
    font-size: 25px;
}
.row input{
    margin: 0;
    padding: 25px 70px ;
    border: 2px solid black;
    border-radius: 10px;
}
.button-special-button
{
    width:140px;
    padding: 20px;
    margin:  0 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}